# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/JNeuralNetwork.iml
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
src/main/resources/
src/test/
target/
